<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - iCallendar</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-2.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body class="body-content">
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("iCallendar", "Index", "EventsList", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>

    <div class="container content">
        @RenderBody()
        
    </div>

    <div class="navbar-inverse navbar-fixed-bottom">
        <footer class="text-center text-color">
            <p>&copy; @DateTime.Now.Year - iCallendar Web Application</p>
        </footer>
    </div>
   
</body>
</html>