@{
    ViewBag.Title = "CreateView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="../../Content/bootstrap-iso.css" />
<link rel="stylesheet" href="../../Content/bootstrap-datepicker3.css" />

<!--Font Awesome (added because you use icons in your prepend/append)-->
<link rel="stylesheet" href="../../Content/font-awesome.min.css" />

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="bootstrap-iso">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <form method="post">

                    <div class="form-group ">
                        <label class="control-label " for="date">
                            Data rozpoczęcia
                        </label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar-plus-o">
                                </i>
                            </div>
                            <input class="form-control" id="date" name="date" placeholder="DD/MM/YYYY" type="text" />
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="control-label " for="date1">
                            Data zakończenia
                        </label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar-check-o">
                                </i>
                            </div>
                            <input class="form-control" id="date1" name="date1" placeholder="DD/MM/YYYY" type="text" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript" src="~/scripts/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="~/scripts/date.js"></script>
