@model IEnumerable<Core.Events.EventModel>

@{
	ViewBag.Title = "Deleting All Elements";
	Layout = "../Shared/_Layout.cshtml";
}

<h2>Delete all</h2>

<h3>Are you sure you want to delete all @Model.Count() events?</h3

<p></p>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()


	<div class="col-md-offset-0 col-md-10">
		<input type ="button" value="Back" class="button" onclick="location.href='@Url.Action("Index")'" />
	    <input type="submit" value="Delete all" class="button"/>
        <p></p>
	</div>
}


